.footer {
    background: #1a477f;
    color: #fff;
    font-size: 0.8rem;
    margin-top: auto;
}

.f-describe {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.f-describe a {
    float: right;
    padding-right: 2rem;
}

.f-describe a img {
    max-width: 20px;
    height: 20px;
}


